.container {
  max-width: 100%;
  font-family: 'Roboto', sans-serif;

}

.contentContainer {
  max-width:54rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  /* background-color:#181818; */
  background-color: #000;
  padding:30px;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: auto;
  height: auto;
  margin-left:0px;
  margin-top:20px;
  margin-bottom:20px;
}

.backToHome {
  margin: 3rem 0 0;
}

.headerSpacer {width:20%;}


@media screen and (max-width:768px) {
  .header {
    padding:0px;
  }
}

@media screen and (max-width:440px) {
  .header {

  }
}
